tqdm
pyyaml
pyelftools
pandas
dacite
pygraphviz
matplotlib
leb128
fastparquet
pyarrow
mapfile-parser
gprof2dot
capstone
networkx<3.0.0,>=2.5.1
setuptools-rust
# cpp-demangle # Broken on py3.13?
cpp-demangle @ git+https://github.com/benfred/py-cpp-demangle@master

# pdf reports
weasyprint
tabulate
jinja2
